@import "../../../styles.scss";

.primary-cell {
    display: flex;
    justify-content: space-between;

    .left-side {
        display: flex;
    }

    .right-side {
        display: flex;
    }

    &:hover .action-panel {
        display: block;
    }
}

.action-panel {
    display:none;
    margin-left: 0.6rem;
}

.action {
    font-size: 1rem;
    color: $gray_color_0;
    cursor: pointer;
}

.quick-action {
    font-size: 0.8rem;
    color: $primary_color;
    cursor: pointer;
    margin-top: 0.6rem;
    margin-left: 0.4rem;
}