<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of items">
    <span *ngIf="child.children && child.children.length > 0">
      <button mat-menu-item [matMenuTriggerFor]="menu.childMenu" class="quick-item">
        <span>{{child.text}}</span>
        <mat-icon>{{ child.icon }}</mat-icon>
      </button>
      <app-quick-menu-item #menu [items]="child.children"></app-quick-menu-item>
    </span>
    <span *ngIf="!child.children || child.children.length === 0">
      <button mat-menu-item class="quick-item">
        <span>{{child.text}}</span>
        <mat-icon>{{ child.icon }}</mat-icon>
      </button>
    </span>
  </span>
</mat-menu>