<div class="grid-config-action">
    <mat-icon>refresh</mat-icon>
    <mat-label><mat-icon>settings_applications</mat-icon></mat-label>
    <mat-select>
        <mat-option value="option1">Columns</mat-option>
        <mat-option value="option2">Density</mat-option>
        <mat-option value="option3">Sticky columns</mat-option>
        <mat-option value="option3">Group By</mat-option>
        <mat-option value="option3">Save</mat-option>
        <mat-option value="option3">Reset</mat-option>
    </mat-select>

    <mat-icon>add_box</mat-icon>
    <mat-icon> call_made</mat-icon>
</div>