@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3.25rem);
    }

    80% {
        transform: translateY(0.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3.25rem);
    }

    80% {
        transform: translateY(-0.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-3.25rem);
    }

    80% {
        transform: translateX(0.25rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}