@import "../abstract/variables";

body {
    font-size: $font_size;
    line-height: $line_height;
    font-weight: $font_weight;
    font-family:$font_family !important;
    -ms-overflow-style: none !important;
    scrollbar-width:none !important;
    
    &::-webkit-scrollbar {
      display: none !important;
    }
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $primary_color_darker;
  border-radius: 0.3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary_color_darkest;
}