@import "../../scss/abstract/variables";
@import "../../scss/components/dialog";
@import "../../scss/components/dialog";
@import "../../scss/components/progressBar";
@import "../../scss/components/table";
@import "../../scss/base/utilities";

.header {
  color: $primary_color_darkest;
  font-weight: 800;
  padding-left: 1rem;
}

.task-panle {
  width: 90%;
  margin: 5%;

  .task {
    td {
      padding: 0.4rem;
    }
  }
}

.center {
  display: flex;
  align-items: center;
}