<div class="toolbar" role="banner">
  <div class="left-toolbar">
    <img width="80" src="assets/img/blulogix.png">

    <span class="menu-item" *ngFor="let item of navItems">

      <span *ngIf="item.children && item.children.length > 0">
        <span class="inner-menu-item" [matMenuTriggerFor]="menu.childMenu">
          <img *ngIf="item.displayIcon" [src]="item.displayIcon" width="25">
          <span>{{item.displayName}}</span>
          <mat-icon>expand_more</mat-icon>
        </span>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>

      <span *ngIf="!item.children || item.children.length === 0">
        <span class="inner-menu-item" [routerLink]="item.route">
          <img *ngIf="item.displayIcon" [src]="item.displayIcon" width="25">
          <span>{{item.displayName}}</span>
        </span>
      </span>
    </span>

  </div>
  <div class="right-toolbar">
    <span class="menu-item" *ngFor="let item of toolbarItems">
      <span *ngIf="item.children && item.children.length > 0">
        <span class="inner-menu-item" [matMenuTriggerFor]="menu.childMenu">
          <img width="25" *ngIf="item.displayIcon" [src]="item.displayIcon">
          <span>{{item.displayName}}</span>
          <mat-icon>expand_more</mat-icon>
        </span>
        <app-menu-item #menu [items]="item.children"></app-menu-item>
      </span>
      <span *ngIf="!item.children || item.children.length === 0">
        <span class="inner-menu-item" [routerLink]="item.route">
          <img width="25" *ngIf="item.displayIcon" [src]="item.displayIcon">
          <span>{{item.displayName}}</span>
        </span>
      </span>
    </span>
  </div>
</div>

<div class="content" role="main">
  <div style="height: auto;">
    <header-view></header-view>
    <router-outlet></router-outlet>
  </div>
</div>

<spinner></spinner>