<div class="primary-cell">
    <div class="left-side">
        <a routerLink="/">{{value.serviceName}}</a>
        <span class="action-panel">
            <mat-icon aria-label="edit" matTooltip="edit" class="action"
                (click)="edit()">edit</mat-icon>
            <mat-icon aria-label="manage categories" matTooltip="manage categories" class="action"
                (click)="manageCategories()">line_weight</mat-icon>
            <mat-icon aria-label="add products" matTooltip="add products" class="action"
                (click)="addProducts()">add_box</mat-icon>
        </span>
    </div>
</div>