
$primary_color_darkest: #1b548a;
$primary_color_darker: #316fa9;
$primary_color: #4A83B7;
$primary_color_lighter: #79a8d3;
$primary_color_lightest: #eaf0f4;

$red:#ff0000;
$success_color: #008000;
$orange_color:#f0a70a;

$font_size : 16px;
$default-font-size: 0.9rem;
$font_family : 'Trebuchet MS';

$line_height : 1.7;
$font_weight : 200;

$gray_color_0: #777777;
$gray_color_1: #f7f7f7;
$gray_color_2:#d2d1d1;
$gray_color_3:#4c4c4c;
$white_color : #ffffff;
$black_color: #000000;

$grid-width: 80rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;