<mat-accordion style="margin: 50px;">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span class="panel-title">Search</span>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <mat-form-field *ngFor="let searchField of searchFields" class="medium" appearance="outline">
                <mat-label>{{ searchField.name }}</mat-label>
                <input *ngIf="searchField.type == 'text'" type="{{ searchField.type }}" matInput
                    formControlName="{{ searchField.formControlName }}" placeholder="{{ searchField.placeholder }}"
                    [required]="searchField.required">
                <mat-select *ngIf="searchField.type == 'list'" formControlName="{{ searchField.formControlName }}"
                    multiple>
                    <mat-option *ngFor="let item of searchField.list" [value]="item.key">{{item.value}}</mat-option>
                </mat-select>
                <div *ngIf="searchField.type == 'date'">
                    <mat-date-range-input [rangePicker]="campaignOnePicker">
                        <input matStartDate placeholder="Start date" formControlName="start">
                        <input matEndDate placeholder="End date" formControlName="end">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </div>
            </mat-form-field>
            <div class="buttons">
                <button class="button" type="reset" mat-raised-button>Clear</button>
                <button class="button" type="submit" mat-raised-button color="primary">Search</button>
            </div>
        </form>
    </mat-expansion-panel>
</mat-accordion>