@import "../../../styles.scss";

.quick-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 0.2rem;
    align-items: center;
    color: $primary_color_darkest;
    font-weight: 600;
}

 .mat-menu-item .mat-icon {
    padding: 0px;
    margin: 0px;
}

 .mat-menu-panel {
    width:16rem;
}